*.class
*.log
out
.ammonite
.bloop
.metals
.DS_Store
*.ipynb_checkpoints*

*.~undo-tree~
.#*

.vscode/
.bsp/
save/
scratch/

.venv/
node_modules/
node_modules/
/env
prompt_history/*
/slack-token.txt
*.pyc

SECRETS
OLD_SECRETS
