a {
    text-decoration: none !important;
}

.label-judge {
    font-weight: bold;
    color: #000000;
}

.label-honest-debater {
    font-weight: bold;
    color: green;
}

.label-dishonest-debater {
    font-weight: bold;
    color: crimson;
}

.filtering-row {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    /* animation-delay: 0.5s; */
    /* animation-fill-mode: backwards; */
}

@keyframes animate-fade {
    0% {
        /* background-color: green; */
        opacity: 0;
    }

    100% {
        /* background-color: none; */
        opacity: 1;
    }
}

.table-header:hover {
    background-color: #f0f0f0;
}

.table-header-selected {
    background-color: #f5f5f5 !important;
}

.table-header-selected:hover {
    background-color: #f0f0f0 !important;
}


.table-row-anim-enter {
    opacity: 0.01;
}

.table-row-anim-enter.table-row-anim-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.table-row-anim-leave {
    opacity: 1;
}

.table-row-anim-leave.table-row-anim-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.judgment-bar-large {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;

    border: solid 1px #d0d0d0;
}

.judgment-bar-final {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;

    border: solid 2px black;
}

.judgment-bar-final-correct {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;

    border: solid 2px green;
}

.judgment-bar-final-incorrect {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;

    border: solid 2px crimson;
}

.judgment-bar-small {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.5rem;

    font-size: 0.5rem;
    height: 0.7rem;
}

.judgment-bar-correct {
    background-color: green;
    color: white;
}

.judgment-bar-incorrect {
    background-color: crimson;
    color: white;
}

.status-display-cell {
    vertical-align: middle;
}

.unfinished-label {
    font-style: italic;
    color: orange
}

.no-live-judge-label {
    font-style: italic;
    color: gray;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.hidden {
    visibility: hidden;
}

.correct {
    background-color: rgba(240, 255, 235, 1.0)
}

.incorrect {
    background-color: rgba(255, 230, 225, 1.0)
}

.judge {
    background-color: #21252908;
}

.debaterA {
    background-color: rgba(240, 248, 255, 1.0);
}

.debaterB {
    background-color: rgba(255, 230, 210, 1.0)
}

.speech-box {
    border: 1px solid #d0d0d0;
    border-radius: 0rem;
    padding: .75rem;
    margin-top: 0.5rem;
    /* width: auto; */
    /* flex-basis: 0;
    flex-grow: 1; */
}

.speech-box-left {
    flex: 1;
    border-radius: 2rem;
    border-top-left-radius: 0;
    max-width: 75%;
}

.speech-box-right {
    flex: 1;
    border-radius: 2rem;
    border-top-right-radius: 0;
    max-width: 75%;
}

.speech-box-right-seq {
    margin-left: auto;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.custom-card {
    border-radius: 0;
}

.text-faded {
    color: #6c757d;
}

.quote {
    background-color: yellow;
}